<div class="w-1/4 bg-gray-300 p-5" style="background-color: rgb(181, 174, 169);">
    <!-- <div class="breadcrumb pb-5">
        <ol class="flex items-center space-x-2">
            <li><a href="/user/home" class="hover:text-green-600">Home</a></li>
            <li><span class="mx-2">/</span></li>
            <li><a href="/user/dashboard" class="hover:text-green-600">Profile</a></li>
        </ol>
    </div> -->
    <h2 class="text-xl mb-5">Account</h2>
    <button class="w-full p-2 mb-2 bg-gray-500 text-white text-left"><a href="/user/dashboard">Information</a></button>
    <button class="w-full p-2 mb-2 bg-gray-500 text-white text-left"><a href="/user/showUserAddresses">Manage address</a></button>
    <button class="w-full p-2 mb-2 bg-gray-500 text-white text-left"><a href="/user/orders">Order History</a></button>
    <h2 class="text-xl mt-5"><a href="#">Payments</a></h2>
    <h2 class="text-xl mt-5"><a href="/user/logout">Log Out?</a></h2>
</div>