<html>
<head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@400;700&family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
    <script src="/validation.js"></script>
    <style>
        body {
            font-family: 'Comic Neue', sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            background-color: #fff;
        }
        .container {
            text-align: center;
            width: 100%;
            max-width: 500px;
            padding: 20px;
        }
        .header {
            background-color: #d0c7c7;
            padding: 20px;
            margin-bottom: 20px;
        }
        .header h1 {
            font-family: 'Comic Neue', sans-serif;
            font-size: 48px;
            margin: 0;
            display: inline-block;
        }
        .header h2 {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            margin: 0;
            display: inline-block;
            padding-left: 40px;
            /* float: right; */
            margin-top: 10px;
        }
        .login-form {
            text-align: left;
        }
        .login-form p {
            font-size: 18px;
            margin-bottom: 20px;
        }
        .login-form input[type="text"],
        .login-form input[type="password"] {
            width: 100%;
            padding: 15px;
            margin: 10px 0;
            border: 1px solid #ccc;
            box-sizing: border-box;
            font-size: 16px;
        }
        .login-form a {
            float: right;
            font-size: 14px;
            color: #000;
            text-decoration: none;
        }
        .login-form button {
            width: 100%;
            padding: 15px;
            background-color: #a9a9a9;
            border: none;
            font-size: 20px;
            font-family: 'Comic Neue', sans-serif;
            cursor: pointer;
        }
        .social-login {
            margin-top: 20px;
        }
        .social-login p {
            font-size: 16px;
            margin-bottom: 10px;
        }
        .social-login button {
            width: 40%;
            padding: 10px;
            margin: 5px 0;
            border: none;
            font-size: 16px;
            cursor: pointer;
            border-radius:25px;
        }
        .google {
            background-color: #b3ffb3;
            color: #000;
        }
    </style>
</head>
<body>
    <div class="container bg-gray-200 rounded-lg shadow-md pt-6 mb-6 transform hover:scale-[1.02] transition-transform duration-300" style="margin-top: 5%;">
        <div class="header rounded-lg">
            <h1>CAlliope</h1>
            <h2>Admin Login</h2>
        </div>
        <div class="login-form rounded-lg">
            <form action="/admin/login" method="post" id="adminloginForm">
                
                <p>Please fill in your admin login details below</p>
                
                <input id="email"  type="text" placeholder="Email" name="email" oninput="validateEmail()">
                <span id="emailError" class="error" style="color:rgb(215, 5, 5)"></span>
                
                <input id="password" type="password" placeholder="Password" name="password" oninput="validatePassword()">
                <span id="passwordError" class="error" style="color:rgb(193, 6, 6)"></span>
                
                <!-- <a href="#">Forgot Password?</a> -->
                <button class=" mb-6 rounded-lg" type="submit">Log In</button>
            </form>
            <form action="/admin/login" method="post" >
                <input type="hidden" value="sihona@gmail.com" name="email">
                <input type="hidden" value="sihona" name="password">
                <button class="btn btn-secondary" type="submit">Demo login</button>
            </form>
        </div>
        <!-- <div class="social-login">
            <p>- Log In with social media -</p>
            <button class="google">Google</button>
        </div> -->
    </div>


</body>
</html>
