<div>
    <!-- %- include ('../partials/admin/sidebar')%> -->
    <main class="main-content">
        <header class="header">
            <div>
                <h2 class="text-3xl font-bold text-gray-800">Sales Report</h2>
            </div>
            <div class="user-info">
                <div class="name">Selin Steilshya Oliver<br>
                    <div class="role">Admin</div>
                </div>
                <img alt="User Avatar" height="40"
                    src="https://storage.googleapis.com/a1aa/image/6Frmd66qfz37V6OkvJHOKto7rafaEUORfStf9uiesPYqTb5eE.jpg"
                    width="40">
            </div>
        </header>
    </main>
</div>