body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.header {
    background-color: #c7b8b4;
    padding: 20px;
    text-align: center;
}
.header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    margin: 0;
}
.container {
    text-align: center;
    padding: 20px;
}
.container h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    margin: 20px 0 10px;
}
.container p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0 0 20px;
}

.form-container {
    width:1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:40px;
}
.form-container label{
    padding:10px;
    margin:30px
}
.form-container input {
    width: 300px;
    padding: 10px;
    margin: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #d3d3d3;
}
.form-container .button {
    width: 620px;
    padding: 15px;
    margin: 20px 0;
    background-color: #8c8c8c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
}
.form-container .button:hover {
    background-color: #7a7a7a;
}
.footer {
    text-align: center;
    margin: 20px 0;
}
.footer a {
    color: #000;
    text-decoration: none;
    margin: 0 5px;
}
