<%  include ('../partials/header.ejs')%>
<!-- <html>
 <head> -->
  <!-- <title>
   Calliope
  </title>
  <link rel="stylesheet" href="/User/css/userHome.css"> -->
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/> -->
  <!-- <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&amp;family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet"/> -->
  
 <!-- </head> -->
 <!-- <body> -->
  <!-- <header>
   <h1>
    Calliope
   </h1>
   <div class="search-bar">
    <input placeholder="Search..." type="text"/>
    <button>
     <i class="fas fa-search">
     </i>
    </button>
   </div>
  </header>
  <div class="top-nav">
   <a href="#">
    Free Shipping Gifts
   </a>
   <a href="#">
    Shop New Gifts
   </a>
   <a href="#">
    Shop Sale Gifts
   </a>
   <a href="#">
    <i class="fas fa-heart">
    </i>
   </a>
   <a href="#">
    <i class="fas fa-user">
    </i>
   </a>
   <a href="#">
    <i class="fas fa-shopping-cart">
    </i>
   </a>
   <a href="#">
    <i class="fas fa-question-circle">
    </i>
   </a>
  </div>
  <div class="main-nav">
   <a href="#">
    Home
   </a>
   <a href="#">
    Contact
   </a>
   <a href="#">
    About
   </a>
   <a href="#">
    Products
   </a>
  </div>
  <div class="welcome">
   <p>
    Welcome , Selin Stelishya Oliver
   </p>
  </div>
  <div class="categories">
   <h2>
    Categories
   </h2>
   <div class="items">
    <div class="item">
     <img alt="Canvas Prints" height="200" src="https://storage.googleapis.com/a1aa/image/583M0DDJh35iGxCGgg9csbEzshPfSlimCNVo3elCewEQSionA.jpg" width="200"/>
     <p>
      Canvas Prints
     </p>
    </div>
    <div class="item">
     <img alt="Wall Murals" height="200" src="https://storage.googleapis.com/a1aa/image/BocefrqqlWkGEk0H0egll4lL4d7768hJIHi3KtYOsl1hSionA.jpg" width="200"/>
     <p>
      Wall Murals
     </p>
    </div>
    <div class="item">
     <img alt="Metal Prints" height="200" src="https://storage.googleapis.com/a1aa/image/YFvhuGTCRsYzK5cR1HSbFNDlkSF2gmFfLMCboWTkN74lkI6JA.jpg" width="200"/>
     <p>
      Metal Prints
     </p>
    </div>
    <div class="item">
     <img alt="Wood Wall Arts" height="200" src="https://storage.googleapis.com/a1aa/image/dWRvx5V3Q2J1MdMRTX5uPMmSWZ81cj0FCnerHneQxgLKJR0TA.jpg" width="200"/>
     <p>
      Wood Wall Arts
     </p>
    </div>
   </div>
  </div>
  <div class="new-arrivals">
   <h2>
    NEW Wall Art Arrivals
   </h2>
   <div class="items">
    <div class="item">
     <img alt="Macrame Floral Crescent Moon" height="200" src="https://storage.googleapis.com/a1aa/image/hWGNOiDPJOJEA5i0GCsR6rvy19QXlvqWn5eGOcrVQUagkI6JA.jpg" width="200"/>
     <p>
      Macrame Floral Crescent Moon
     </p>
     <p>
      The Knotty Bee Macrame Creations
     </p>
    </div>
    <div class="item">
     <img alt="Art Prints 40% Off" height="200" src="https://storage.googleapis.com/a1aa/image/VFlqKZ3yf42YYirkNqEgTEDpSLVRriYhESURCF34KstnkI6JA.jpg" width="200"/>
     <p>
      Art Prints 40% Off
     </p>
    </div>
    <div class="item">
     <img alt="Stationery Cards 50% Off" height="200" src="https://storage.googleapis.com/a1aa/image/NvZXCEhKv06xA9qVebn5tDwxC4WK7DPvmyXgBWRcOhYhkI6JA.jpg" width="200"/>
     <p>
      Stationery Cards 50% Off
     </p>
    </div>
   </div>
  </div>
  <div class="christmas-special">
   <h2>
    CHRISTMAS SPECIAL
   </h2>
   <div class="items">
    <div class="item">
     <img alt="Christmas Decorations" height="200" src="https://storage.googleapis.com/a1aa/image/4DFfUfMCnWjDL0bumDyyMxwDZRokjnVdnjaUbFzNVdiFJR0TA.jpg" width="200"/>
     <p>
      Christmas Decorations
     </p>
    </div>
    <div class="item">
     <img alt="Christmas Keep Sakes" height="200" src="https://storage.googleapis.com/a1aa/image/3kMn5aDbLG6ZMlvNT3RaMBvnebOpyESgFxzKU5Jwf4NJJR0TA.jpg" width="200"/>
     <p>
      Christmas Keep Sakes
     </p>
    </div>
    <div class="item">
     <img alt="Christmas Jewellery" height="200" src="https://storage.googleapis.com/a1aa/image/MNcqiNGoq5buBpGcp926CwTdD4pD0JTdNDFBFfXUQkshkI6JA.jpg" width="200"/>
     <p>
      Christmas Jewellery
     </p>
    </div>
    <div class="item">
     <img alt="Christmas Kids &amp; Babies" height="200" src="https://storage.googleapis.com/a1aa/image/VvU3ixIiUD5WIBqlrpxMqMDXBGUjJHzHosv0HPU46KmRSE9E.jpg" width="200"/>
     <p>
      Christmas Kids &amp; Babies
     </p>
    </div>
    <div class="item">
     <img alt="Christmas Home &amp; Decor" height="200" src="https://storage.googleapis.com/a1aa/image/QWqjDjHFQ4YJBF13e28QH0yjMxbUEwuzmCCJhfKA7fFaSionA.jpg" width="200"/>
     <p>
      Christmas Home &amp; Decor
     </p>
    </div>
   </div>
  </div>
  <div class="discount">
   <h2>
    Get 25% Off Your First Order
   </h2>
   <p>
    Place your first order to receive exclusive offers, decor tips and features about Calliope artists.
   </p>
   <input placeholder="Email address" type="email"/>
  </div>
  <footer class="footer">
   <div class="links">
    <div>
     <h3>
      Contact Us
     </h3>
     <a href="#">
      Contact Us
     </a>
     <a href="#">
      Address
     </a>
     <a href="#">
      Phone
     </a>
     <a href="#">
      Email
     </a>
    </div>
    <div>
     <h3>
      Customer Support
     </h3>
     <a href="#">
      <i class="fas fa-headset"></i> Help Center
     </a>
     <a href="#">
      Shipping Information
     </a>
     <a href="#">
      Returns
     </a>
     <a href="#">
      Gift Cards
     </a>
     <a href="#">
      Student Discount
     </a>
    </div>
    <div>
     <h3>
      About Us
     </h3>
     <a href="#">
      Our Story
     </a>
     <a href="#">
      Careers
     </a>
     <a href="#">
      Affiliate Program
     </a>
     <a href="#">
      Press
     </a>
    </div>
    <div>
     <h3>
      More Support
     </h3>
     <a href="#">
      FAQ
     </a>
     <a href="#">
      Size Guide
     </a>
     <a href="#">
      Artist FAQ
     </a>
     <a href="#">
      Artist Blog
     </a>
    </div>
   </div>
   <div class="social-icons">
    <i class="fab fa-facebook">
    </i>
    <i class="fab fa-twitter">
    </i>
    <i class="fab fa-instagram">
    </i>
    <i class="fab fa-pinterest">
    </i>
   </div>
   <p>
    © 2024 Calliope Ltd. All rights reserved.
   </p>
  </footer> -->
 <!-- </body>
</html> -->


<%  include ('../partials/footer.ejs')%>
