<%  include ('../partials/header.ejs')%>

<!-- <html>
 <head> -->
  <!-- <title> -->
   <!-- CAlliope -->
  <!-- </title> -->
  <!-- <link rel="stylesheet" href="/User/css/userHome.css"> -->
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/> -->
  <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;family=Shadows+Into+Light&amp;display=swap" rel="stylesheet"/> -->
  
 <!-- </head> -->
 <!-- <body> -->
  <!-- <div class="container">
   <div class="header">
    <h1>
     Calliope
    </h1>
    <div class="search-bar">
     <input placeholder="Search..." type="text"/>
     <button>
      <i class="fas fa-search">
      </i>
     </button>
    </div>
   </div>
   <div class="nav">
    <a href="#">
     Free Shipping Gifts
    </a>
    <a href="#">
     Shop New Gifts
    </a>
    <a href="#">
     Shop Sale Gifts
    </a>
    <a href="#">
     <i class="fas fa-question-circle">
     </i>
    </a>
    <a href="#">
     <i class="fas fa-shopping-cart">
     </i>
    </a>
    <a href="#">
     Sign In
    </a>
    <a href="#">
     Sign Up
    </a>
   </div>
   <div class="categories">
    <h2>
     Categories
    </h2>
    <div class="category-item">
     <img alt="Canvas Prints" height="200" src="https://storage.googleapis.com/a1aa/image/BcM5HXh2oO48ARmnhfirJz1bmWqzntoPqcvJZTtVuePj5Q0TA.jpg" width="200"/>
     <p>
      Canvas Prints
     </p>
    </div>
    <div class="category-item">
     <img alt="Wall Murals" height="200" src="https://storage.googleapis.com/a1aa/image/V3e7P6pUQm0LIKFjgdqTeZ8TSPNrw4wCgQuc8JXnXMAu5Q0TA.jpg" width="200"/>
     <p>
      Wall Murals
     </p>
    </div>
    <div class="category-item">
     <img alt="Metal Prints" height="200" src="https://storage.googleapis.com/a1aa/image/RImzTcf6Db2PDCAThjSIzsP9z4Kf4flYKPFZuaNFXGZQzhonA.jpg" width="200"/>
     <p>
      Metal Prints
     </p>
    </div>
    <div class="category-item">
     <img alt="Wood Wall Arts" height="200" src="https://storage.googleapis.com/a1aa/image/Ler8pmQl3vy5WynIyxmbUHD8GNaMlMEad0emZD6ldhSn5Q0TA.jpg" width="200"/>
     <p>
      Wood Wall Arts
     </p>
    </div>
   </div>
   <div class="new-arrivals">
    <h2>
     NEW Wall Art Arrivals
    </h2>
    <div class="arrival-item">
     <img alt="Macrame Floral Crescent Moon" height="200" src="https://storage.googleapis.com/a1aa/image/5j6LuS2Qug5UI5HeeykLvPeAT6rEwa9S12ybcNaTwvn5yhonA.jpg" width="200"/>
     <p>
      Macrame Floral Crescent Moon
     </p>
     <p>
      The Knotty Bee Macrame Creations
     </p>
    </div>
    <div class="arrival-item">
     <img alt="Art Prints 40% Off" height="200" src="https://storage.googleapis.com/a1aa/image/gXWWDeQIHfjIfJlnr8Gdmt5G5gEf2ptwxTZikhycYIVwmDRPB.jpg" width="200"/>
     <p>
      Art Prints 40% Off
     </p>
    </div>
    <div class="arrival-item">
     <img alt="Stationery Cards 50% Off" height="200" src="https://storage.googleapis.com/a1aa/image/Kfm9gedD4nkci0R6GvclqFQYYvi9CEFYn12eOKVCHhP7yhonA.jpg" width="200"/>
     <p>
      Stationery Cards 50% Off
     </p>
    </div>
   </div>
   <div class="christmas-special">
    <h2>
     CHRISTMAS SPECIAL
    </h2>
    <div class="special-item">
     <img alt="Christmas Decorations" height="200" src="https://storage.googleapis.com/a1aa/image/Qj7FznL6RBaVDpc9K1PhPoelVqcS8NDB1G9SgreAmPGg5Q0TA.jpg" width="200"/>
     <p>
      Christmas Decorations
     </p>
    </div>
    <div class="special-item">
     <img alt="Christmas Keep Sakes" height="200" src="https://storage.googleapis.com/a1aa/image/OckRpaiHTALBDhv3Y3PN8q33AxM87WMMD1uCDs6vtleycI6JA.jpg" width="200"/>
     <p>
      Christmas Keep Sakes
     </p>
    </div>
    <div class="special-item">
     <img alt="Christmas Jewellery" height="200" src="https://storage.googleapis.com/a1aa/image/oGHcJqxD0PZdF1ktWyWNkCImIHLiK32cJZ2P8IP2znpXOE9E.jpg" width="200"/>
     <p>
      Christmas Jewellery
     </p>
    </div>
    <div class="special-item">
     <img alt="Christmas Kids &amp; Babies" height="200" src="https://storage.googleapis.com/a1aa/image/uP6k8zHJ55InOpoLFg9HbWOlDeYLycQtYcEB5u7ns7twcI6JA.jpg" width="200"/>
     <p>
      Christmas Kids &amp; Babies
     </p>
    </div>
    <div class="special-item">
     <img alt="Christmas Home &amp; Decor" height="200" src="https://storage.googleapis.com/a1aa/image/zCvgKb7aDeXPaSqanefxFU2juU6y9MaDQfmsrSaJxBZpmDRPB.jpg" width="200"/>
     <p>
      Christmas Home &amp; Decor
     </p>
    </div>
   </div>
   <div class="discount-section">
    <h2>
     Get 25% Off Your First Order
    </h2>
    <p>
     Sign up to receive exclusive offers, decor tips and features about Calliope artists.
    </p>
    <input placeholder="Email address" type="email"/>
    <button>
     <i class="fas fa-arrow-right">
     </i>
    </button>
   </div>
   <div class="footer">
    <div class="footer-section">
     <h3>
      Contact Us
     </h3>
     <p>
      Contact Us
     </p>
     <p>
      Address Finder
     </p>
     <p>
      Shipping
     </p>
     <p>
      Returns
     </p>
     <p>
      Order Status
     </p>
     <p>
      FAQs
     </p>
    </div>
    <div class="footer-section">
     <h3>
      Customer Support
     </h3>
     <p>
      Help Center
     </p>
     <p>
      Shipping Information
     </p>
     <p>
      Returns
     </p>
     <p>
      Order Status
     </p>
     <p>
      Gift Cards
     </p>
     <p>
      Student Discount
     </p>
    </div>
    <div class="footer-section">
     <h3>
      About Us
     </h3>
     <p>
      Our Story
     </p>
     <p>
      Careers
     </p>
     <p>
      Sustainability
     </p>
     <p>
      Press
     </p>
     <p>
      Wholesale Program
     </p>
     <p>
      Trade Program
     </p>
    </div>
    <div class="footer-section">
     <h3>
      Artist Support
     </h3>
     <p>
      Sell Your Art
     </p>
     <p>
      Artist Resources
     </p>
     <p>
      Artist Blog
     </p>
    </div>
    <div class="social-icons">
     <i class="fab fa-facebook-f">
     </i>
     <i class="fab fa-twitter">
     </i>
     <i class="fab fa-instagram">
     </i>
     <i class="fab fa-pinterest">
     </i>
    </div>
   </div>
  </div> -->
 <!-- </body>
</html> -->
<%  include ('../partials/footer.ejs')%>
