<%-  include ('../partials/user/header')%>


  <div class="top-nav">
   <a href="#">
    Free Shipping Gifts
   </a>
   <a href="#">
    Shop New Gifts
   </a>
   <a href="#">
    Shop Sale Gifts
   </a>
   <a href="#">
    <i class="fas fa-heart">
    </i>
   </a>
   <a href="#">
    <i class="fas fa-shopping-cart">
    </i>
   </a>
   <a href="#">
    <i class="fas fa-question-circle">
    </i>
   </a>
   <a href="#">
    <i class="fas fa-user">
    </i>
   </a>
   <a href="/logout">Log Out</a>
  </div>
  <div class="main-nav">
   <a href="#">
    Home
   </a>
   <a href="#">
    Products
   </a>
   <a href="#">
    Contact
   </a>
   <a href="#">
    About
   </a>
   
  </div>
  <div class="welcome">
   Welcome , stelishya
  </div>
  <div class="categories">
   <h2>
    Categories
   </h2>
   <div class="category-item">
    <img alt="Canvas Prints" height="200" src="https://storage.googleapis.com/a1aa/image/NzqcBSKcWL4aI9MY18OYf7uXeugfImkVrJkcnb5fSbGxdESPB.jpg" width="200"/>
    <p>
     Canvas Prints
    </p>
   </div>
   <div class="category-item">
    <img alt="Wall Murals" height="200" src="https://storage.googleapis.com/a1aa/image/v7OhqEdZUWqnLlSkH2tA4x4QOHNHyEtCFMCqV7pJhTl5RI9E.jpg" width="200"/>
    <p>
     Wall Murals
    </p>
   </div>
   <div class="category-item">
    <img alt="Metal Prints" height="200" src="https://storage.googleapis.com/a1aa/image/ACRXihNYt8LOGFqFPbCdfAltYzleStBgzMGOvlHv77WhHh0TA.jpg" width="200"/>
    <p>
     Metal Prints
    </p>
   </div>
   <div class="category-item">
    <img alt="Wood Wall Arts" height="200" src="https://storage.googleapis.com/a1aa/image/CvSpiRRirU5hIB75t8AAlldqggeCwwZgUJ6yxvsJRTTwjQ6JA.jpg" width="200"/>
    <p>
     Wood Wall Arts
    </p>
   </div>
  </div>
  <div class="new-arrivals">
   <h2>
    NEW Wall Art Arrivals
   </h2>
   <div class="arrival-item">
    <img alt="Macrame Floral Crescent Moon" height="200" src="https://storage.googleapis.com/a1aa/image/eNejRHpks3k8eoM8IKnUfCHkf0d4XA0KJmHzufs7RXFU1RI9E.jpg" width="200"/>
    <p>
     Macrame Floral Crescent Moon
    </p>
   </div>
   <div class="arrival-item">
    <img alt="Art Prints 40% Off" height="200" src="https://storage.googleapis.com/a1aa/image/O0te1OvPp73OUquGSfo1D3fa4F2xq3S2v1d06qOvSFkKPCpnA.jpg" width="200"/>
    <p>
     Art Prints 40% Off
    </p>
   </div>
   <div class="arrival-item">
    <img alt="Stationery Cards 50% Off" height="200" src="https://storage.googleapis.com/a1aa/image/Q6vP40BIDf1qeUo8eCIaZ3yIbCzhacbav5FpzP52kfDZdESPB.jpg" width="200"/>
    <p>
     Stationery Cards 50% Off
    </p>
   </div>
  </div>
  <div class="christmas-special">
   <h2>
    CHRISTMAS SPECIAL
   </h2>
   <div class="special-item">
    <img alt="Christmas Decorations" height="200" src="https://storage.googleapis.com/a1aa/image/3FabnfBplFWbUSwF71RXUCS8A64HqyJxXoKgmUcrWh8sjQ6JA.jpg" width="200"/>
    <p>
     Christmas Decorations
    </p>
   </div>
   <div class="special-item">
    <img alt="Christmas Keep Sakes" height="200" src="https://storage.googleapis.com/a1aa/image/YVemiuXmoOxfH0SkSwW7ltr9SUYdNHBL7joaXo0wiIFeOCpnA.jpg" width="200"/>
    <p>
     Christmas Keep Sakes
    </p>
   </div>
   <div class="special-item">
    <img alt="Christmas Kids &amp; Babies" height="200" src="https://storage.googleapis.com/a1aa/image/utJLjVOaA06IIF4ALm7AnG2zm2Ll2NibnEsKer5sSUqtjQ6JA.jpg" width="200"/>
    <p>
     Christmas Kids &amp; Babies
    </p>
   </div>
   <div class="special-item">
    <img alt="Christmas Home &amp; Decor" height="200" src="https://storage.googleapis.com/a1aa/image/dZc0ZbGhZJKuPdV8NzOZ2cEMC3NA4EcltxmjXLBa12w4RI9E.jpg" width="200"/>
    <p>
     Christmas Home &amp; Decor
    </p>
   </div>
  </div>
  <div class="discount">
   <h2>
    Get 25% Off Your First Order
   </h2>
   <p>
    Place your first order to receive exclusive offers, decor tips and features about Calliope artists.
   </p>
   <input placeholder="Email address" type="email"/>
   <button>
    Send
   </button>
  </div>
  


<%-  include ('../partials/user/footer.ejs')%>
