    <title>Error Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #d8d2cd;
            color: #333;
            text-align: center;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        h1 {
            color: #e74c3c;
            margin-bottom: 20px;
            font-size:40px;
        }

        p {
            color: #f8f4f4;
            margin-bottom: 20px;
            font-size: 1.1em;
        }

        button {
            background-color: #606264;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            font-size: 1em;
        }

        button:hover {
            background-color: #3c3c3d;
        }

        button:focus {
            outline: none;
            box-shadow: 0 0 3px 2px rgba(111, 123, 135, 0.5);
        }

        @media (max-width: 600px) {
            body {
                padding: 10px;
            }

            button {
                width: 100%;
                padding: 15px;
                font-size: 1.2em;
            }
        }
    </style>
    <div class="w-100 p-40 bg-gray-400 rounded">
        <h1 class="font-size-10">Error Page</h1>
        <p class="font-size-10"><%= message %></p>
        <button onclick="goToHomePage()">Return to Home Page</button>
    </div>
    <script>
        function goToHomePage() {
            window.location.href = "/user/home";
        }
    </script>

