
    <title>Calliope Sign Up</title>
    <!-- <link rel="stylesheet" href="/user/css/signup.css"> -->
    <link rel="stylesheet" href="/User/css/Signup.css">

    
    <div class="header">
        <h1>CAlliope</h1>
    </div>
    <div class="container " style="margin-left: 60px;">
        <div>
        <h5>Welcome To Calliope</h5>
        <p>Create an account to check out faster and keep track of your orders and wishlist.</p>
        </div>
        <div class="form-container">
    <form action="/user/signup" method="post" id="signupForm">
    <div class="form-row">
        <!-- <div class="form-group">    -->
            <label for="name"><b>Username</b></label>
            <input 
                id="username" 
                type="text" 
                placeholder="Enter Username" 
                name="username"
                oninput="validateUsername()"
                >
                <div id="error1" class="error-message"></div>
            <span id="usernameError" class="error" style="color:rgb(216, 8, 8)"></span>
        </div>
        <div class="form-row">
            <label for="email"><b>Email</b></label>
            <input 
                id="email"
                type="text" 
                placeholder="Enter E-mail"
                name="email"
                oninput="validateEmail()"
                >
            <span id="emailError" class="error" style="color:rgb(215, 5, 5)"></span>
        </div>
        <div class="form-row" style="margin-top: 10px;">
                <label for="mobile"><b>Phone Number</b></label>
                <input 
                    id="mobile"
                    type="text" 
                    placeholder="Enter Phone Number" 
                    name="mobile"
                    oninput="validateMobile()"
                    >
                <span id="mobileError" class="error" style="color:rgb(193, 4, 4)"></span>
            </div>
    <div class="form-row">
        <label for="language"><b>Preferred Language</b></label>
        <select 
            id="language" 
            name="language" 
            class="form-control"
            style="width: 100%; padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; box-sizing: border-box;border-radius: 5px; background-color: #d3d3d3;">
            <option value="">Select Language</option>
            <option value="English">English</option>
            <option value="Malayalam">Malayalam</option>
        </select>
        <!-- <input 
            type="text" 
            placeholder="Enter Language" 
            name="language"
            > -->
    </div>
    <div class="form-row">
            <label for="password"><b>Password</b></label>
            <input 
                id="password" 
                type="password" 
                placeholder="Enter Password" 
                name="password"
                oninput="validatePassword()"
                >
            <span id="passwordError" class="error" style="color:rgb(193, 6, 6)"></span>
        </div>
        
        <div class="form-row">
            <label for="password"><b>Confirm Password</b></label>
            <input 
                id="cpassword"  
                type="password" 
                placeholder="Confirm Password" 
                name="confirm_password" 
                >
            <!-- <span id="cpasswordError" class="error" style="color:rgb(193, 6, 6)"></span> -->
        </div>

        <% if(locals.message && message.length>0){ %>
            <div class="alert alert-danger text-center">
                <%= message %>
            </div>
        <% } %>
        
            <button 
                class="button" 
                type="submit">Sign Up
            </button>
    </form>
        </div>
        <div class="footer">
            <p>Have an account? <a href="/user/login">Sign In.</a></p>
        </div>
        <div class="google-login">
            <p>- or you can sign in with -</p>
            <a href="/user/auth/google" class="google">Google</a>
        </div>
        
    </div>
<script src="/validation.js"></script>
