<%  include ('../partials/header.ejs')%>
<!-- <html> -->
<!-- <head> -->
    <title>Calliope Sign Up</title>
    <link rel="stylesheet" href="/User/css/userSignup.css">
    <!-- <href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet"> -->
    
<!-- </head> -->
<!-- <body> -->
    <div class="header">
        <h1>CAlliope</h1>
    </div>
    <div class="container">
        <h2>Welcome To Calliope</h2>
        <p>Create an account to check out faster and keep track of your orders and wishlist.</p>
    <form action="/user/signup" method="post" id="signupForm">
        <div class="form-container">
            <label for="name"><b>Username</b></label>
            <input id="name" type="text" placeholder="Username" name="username">
            <span id="usernameError" class="error" style="color:rgb(216, 8, 8)"></span>

            <label for="password"><b>Password</b></label>
            <input id="password" type="password" placeholder="Password" name="password">
            <span id="passwordError" class="error" style="color:rgb(193, 6, 6)"></span>

            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="E-mail">
            <span id="emailError" class="error" style="color:rgb(215, 5, 5)"></span>

            <!-- <label for="password"><b>Confirm Password</b></label> -->
            <!-- <input id="password"  type="password" placeholder="Confirm Password" name="password"> -->
            <!-- <span id="passwordError" class="error" style="color:rgb(193, 6, 6)"></span> -->

            <label for="mobile"><b>Phone Number</b></label>
            <input type="text" placeholder="Phone Number">
            <span id="mobileError" class="error" style="color:rgb(193, 4, 4)"></span>

            <!-- <label for="address"><b>Address</b></label> -->
            <!-- <input type="text" placeholder="Address"> -->

            <button class="button" type="submit">Sign Up</button>
        </div>
    </form>
        <div class="footer">
            <p>Already have an account? <a href="/login">Sign In.</a></p>
        </div>
    </div>
<!-- </body> -->
<!-- </html> -->
<%  include ('../partials/footer.ejs')%>
