<!-- %  include ('../partials/user/header.ejs')%> -->
<html>
<head>
    <title>Calliope Sign Up</title>
    <link rel="stylesheet" href="/user/css/signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="header">
        <h1>CAlliope</h1>
    </div>
    <div class="container">
        <h2>Welcome To Calliope</h2>
        <p>Create an account to check out faster and keep track of your orders and wishlist.</p>
        <div class="form-container">
    <form action="/user/signup" method="post" id="signupForm">
    <div class="form-row">
        <!-- <div class="form-group">    -->
            <label for="name"><b>Full Name</b></label>
            <input 
                id="name" 
                type="text" 
                placeholder="Enter full name" 
                name="username"
                required>
            <span id="usernameError" class="error" style="color:rgb(216, 8, 8)"></span>
        </div>
        <div class="form-row">
            <label for="email"><b>Email</b></label>
            <input 
                type="email" 
                placeholder="Enter E-mail"
                name="email"
                required>
            <span id="emailError" class="error" style="color:rgb(215, 5, 5)"></span>
        </div>
        <div class="form-row">
            <!-- <div class="form-group"> -->
                <label for="mobile"><b>Phone Number</b></label>
                <input 
                    type="text" 
                    placeholder="Enter Phone Number" 
                    name="mobile"
                    required>
                <span id="mobileError" class="error" style="color:rgb(193, 4, 4)"></span>
            </div>
    <!-- </div> -->
    <div class="form-row">
        <label for="language"><b>Preferred Language</b></label>
        <input 
            type="text" 
            placeholder="Enter Language" 
            name="language"
            required>
    </div>
    <div class="form-row">
        <!-- <div class="form-group"> -->
            <label for="password"><b>Password</b></label>
            <input 
                id="password" 
                type="password" 
                placeholder="Enter Password" 
                name="password"
                required>
            <span id="passwordError" class="error" style="color:rgb(193, 6, 6)"></span>
        </div>
        
        <div class="form-row">
            <label for="password"><b>Confirm Password</b></label>
            <input 
                id="password"  
                type="password" 
                placeholder="Confirm Password" 
                name="confirm_password"
                required>
            <span id="passwordError" class="error" style="color:rgb(193, 6, 6)"></span>
        </div>
    <!-- </div> -->
    
        
    <!-- </div> -->
        
            <button 
                class="button" 
                type="submit">Sign Up
            </button>
    </form>
        </div>
        <div class="footer">
            <p>Already have an account? <a href="/login">Sign In.</a></p>
        </div>
    </div>
</body>
</html>
<!-- %  include ('../partials/user/footer.ejs')%> -->
