<div class="sidebar">
  <h1>CAlliope</h1>
  <ul>
    <li><a href="#"><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
    <li><a href="#"><i class="fas fa-box"></i>Product</a></li>
    <li><a href="#"><i class="fas fa-list"></i>Categories</a></li>
    <li><a href="#"><i class="fas fa-shopping-cart"></i>Orders</a></li>
    <li><a href="#" class="active"><i class="fas fa-users"></i>Customers</a></li>
    <li><a href="#"><i class="fas fa-tags"></i>Coupons</a></li>
  </ul>
  <div class="support-setting">
    <ul>
      <li><a href="#"><i class="fas fa-headset"></i>Support</a></li>
      <li><a href="#"><i class="fas fa-cog"></i>Settings</a></li>
    </ul>
  </div>
</div>